* {box-sizing:border-box}
*{
    margin: 0;
    padding: 0;
}

/* atas */
.menu{
    display: flex;
    background-color: #363940 ;
    width: auto;
    
    align-items: center;
}
.menu div:hover{
    border-bottom: 1px solid white;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: 0px 0px 7px rgba(234,233,2,0.52);
    transition: border-bottom 0.5s;
    /* garis bawah glow */
}

.menu div{
    margin-right: 5px;
    /* jarak */
    text-decoration: none;
    /* font */
    color: white;
    border-bottom: 7px solid transparent;
    transition: border-bottom 0.5s;
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: 0px 0px 7px rgba(234,233,2,0.52);
    /* padding: 0.4vw; */
    text-decoration: none;
    transition: color 0.5s;
    font-size: 15px;
    /* fonting */
    /* color: white;
    font-family:  Arial, Helvetica, sans-serif;
    font-size: 20px; */
}

.menu a{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: 0px 0px 7px rgba(234,233,2,0.52);
    transition: border-bottom 0.5s;
    
}

.navbar{
    background-color: #363940;
    margin-bottom: 5px;
}

.menu > div{
    margin-left: 20px;
    /* fonting */
    /* color: white;
    font-family:  Arial, Helvetica, sans-serif;
    font-size: 20px; */
    color: white;
    border-bottom: 5px solid transparent;
    transition: border-bottom 0.5s;
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: 0px 0px 7px rgba(234,233,2,0.52);
    padding: 2px;
    text-decoration: none;
    transition: color 0.5s;
    font-size: 20px;
}

/* dropdown */

.location{
    position: relative;
}
.dropdown{
    display: none;
}

.location:hover > .dropdown{
    display: block;
    position: absolute;
    top: 100%;
    transition: 1s;
    z-index: 1;
    background-color: #363940;
    padding: 3px;
}

.dropdown div{
    color: white;
    font-size: 15px;
    margin: 10px;
}

/* tengah */

.tengah1{
    background-color: #1f2024;
}
.peta{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.peta img{
    width: 500px;
    margin-top: 100px;
}
.tengah2{
    background-color: #363940;
}

.resto{
    display: flex;
}
.resto img{
    margin-left: 0;
    margin-right: 50px;
    width: 650px;
}
.resto p{
    font-size: 25px;
    margin-top: 75px;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: 0px 0px 7px rgba(234,233,2,0.52);
    color: white;
}



/* footer */
footer{
    display: flex;
    width: 100%;
    height: 100%;
    background-color: #1f2024;
    align-items: center;
    padding-bottom: 50px;
}

.logo{
    display: flex;
    justify-content: space-between;
}
.logo img{
    margin-left: 50px;
}
.logo p{
    margin-left: 50px;
    padding-top: 10px;
}

.logo1 img{
    height: 75px;
    
}
.logo1 p{

    color: #fdfdf9;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
}

.logo2 img{
    height: 75px;
}

.logo2 p{
    color: #fdfdf9;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
}
.logo1 img:hover{

    transition: 0.5s;
    height: 85px;
}
.logo2 img:hover{
    
    transition: 0.5s;
    height: 85px;
}
.logo3 img{
    height: 75px;
}

.logo3 p{

    color: #fdfdf9;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
}
.logo3 img:hover{
    
    transition: 0.5s;
    height: 85px;
}
.Tulisan_Follow p{
    margin-top:10px;
    margin-bottom:10px;
    align-content: center;
    font-size: 25px;
    margin-left: 20px;
    color:#fdfdf9; 
    font-family: Arial, Helvetica, sans-serif;
}
